body .loader {
  visibility: hidden;
  opacity: 0;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #1f2128;
  z-index: 9999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.spinner-grow {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  background-color: currentColor;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: spinner-grow 0.75s linear infinite;
  animation: spinner-grow 0.75s linear infinite;
}

.loader .spinner-grow {
  top: 50%;
  left: 50%;
  margin: -13px 0 0 -13px;
  position: absolute;
}

.text-primary {
  color: var(--primary-color) !important;
}

.page-sidebar {
  width: 280px;
  position: fixed;
  background: #fff;
  top: 0;
  bottom: 0;
  padding: 30px;
  box-shadow: 0 0 1.25rem rgb(31 45 61 / 4%);
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
